<div class="container">
  <%# 下記1行はモデルのメソッドを使用 %>
  <h4><%= @user.full_name %>の詳細ページ</h4>

  <h5 class="mt-5">特記事項</h5>
  <div class="row">
    <div class="col-sm-10">
      <%= @user.notice %>
    </div>
  </div>
  <div class="space"></div>

  <h5 class="mt-5">自己PR</h5>
  <p>職務履歴</p>
  <div class="row">
    <div class="col-sm-10">
      <%= @user.job_career %>
    </div>
  </div>
　<p>職務要約</p>
　<div class="row">
    <div class="col-sm-10">
      <%= @user.job_summary %>
    </div>
  </div>

　<h5 class="mt-5">希望条件</h5>
　<div class="row">
    <div class="col-sm-3">
      <p>希望年収</p>
　  </div>
    <div class="col-sm-9">
      <%= @user.desired_salary %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>希望勤務地</p>
    </div>
    <div class="col-sm-9">
      <%= @user.preferred_workplace %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>希望分野</p>
    </div>
    <div class="col-sm-9">
      <%= @user.desired_field %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>転職時期</p>
    </div>
    <div class="col-sm-9">
      <%= @user.timing %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>その他希望事項</p>
    </div>
    <div class="col-sm-7">
      <%= @user.request %>
    </div>
  </div>

  <%= render 'enterprise/relationships/follow_form', user: @user %>

  <div class="footer-space"></div>

</div>