<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <% if user_signed_in? %>
        <h2 class="mb-5">
          <%= @enterprise.name %>
          <% if @enterprise.is_active %>
          <% else %>
            <span class="text-danger">(退会済)</span>
          <% end %>
        </h2>
        <table class="message table">
          <thead>
            <tr>
              <th style="text-align: left; font-size: 20px;"><%= current_user.full_name%></th>
              <th style="text-align: right; font-size: 20px;"><%= @enterprise.name %></th>
            </tr>
          </thead>
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
              <tbody>
                <tr>
                  <th>
                    <p style="text-align: left;"><%= chat.message %></p>
                  </th>
                  <th></th>
                </tr>
            <% else %>
                <tr>
                  <th></th>
                  <th>
                    <p style="text-align: right;"><%= chat.message %></p>
                  </th>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      <% elsif enterprise_signed_in? %>
        <h2 class="mb-5">
          <%= @user.full_name %>
          <% if @user.is_active %>
          <% else %>
            <span class="text-danger">(退会済)</span>
          <% end %>
        </h2>
        <table class="message table">
          <thead>
            <tr>
              <th style="text-align: left; font-size: 20px;"><%= current_enterprise.name%></th>
              <th style="text-align: right; font-size: 20px;"><%= @user.full_name %></th>
            </tr>
          </thead>
          <% @chats.each do |chat| %>
            <% if chat.enterprise_id == current_enterprise.id %>
              <tbody>
                <tr>
                  <th>
                    <p style="text-align: left;"><%= chat.message %></p>
                  </th>
                  <th></th>
                </tr>
            <% else %>
                <tr>
                  <th></th>
                  <th>
                    <p style="text-align: right;"><%= chat.message %></p>
                  </th>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
      <% end %>

      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message, class: "form-size-message" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信", class: "btn btn-sm btn-success chat-btn" %>
      <% end %>
    </div>
  </div>
</div>