<div class="container">
  <h4>企業情報編集</h4>

  <%= form_with model: @enterprise, url: enterprise_enterprises_path, local: true do |f| %>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :name, "御社名" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :name, size: 40 %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :name_kana, "御社名(カナ)" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :name_kana, size: 40 %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :established, "設立" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :established %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :capital, "資本金" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :capital %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :annual_sales, "年商" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :annual_sales %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :president, "代表者" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :president %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-sm-9">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <%= f.submit "編集する", class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>

</div>